---
import { Icon } from 'astro-icon/components';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1>Welcome</h1>

  <p>びどりの個人サイトへようこそ。</p>

  <h2>Links</h2>

  <ul class="flex flex-wrap gap-6">
    <li><a href="https://bsky.app/profile/bidri.bsky.social" target="_blank" rel="noopener noreferrer"
        ><Icon name="simple-icons:bluesky" size="24" /></a></li>
    <li><a href="https://x.com/bidri__" target="_blank" rel="noopener noreferrer"
        ><Icon name="simple-icons:x" size="24" /></a></li>
    <li><a href="https://misskey.io/@bidri" target="_blank" rel="noopener noreferrer"
        ><Icon name="simple-icons:misskey" size="24" /></a></li>
  </ul>

  <ul>
    <li><a href="/profile">Profile</a> - プロフィール</li>
    <li>
      <a
        href="https://bi9dri.github.io/emoklore-arknights-side-oripathy/"
        target="_blank"
        rel="noopener noreferrer"
      >
        サイド・オリパシー
      </a> - エモクロアTRPGでアークナイツを遊べる非公式の追加ルール
    </li>
    <li>
      <a
        href="https://www.notion.so/d88975d51a794b7f82bc5ceb3615e923?v=e72bdc57ee984301b99c015fac78f4d3&source=copy_link"
        target="_blank"
        rel="noopener noreferrer"
      >予定 (Notion)</a>
    </li>
  </ul>
</BaseLayout>
