---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1>Welcome</h1>

  <p>びどりの個人サイトへようこそ。</p>

  <h2>Links</h2>

  <ul>
    <li><a href="/profile">Profile</a> - プロフィール</li>
    <li>
      <a
        href="https://bi9dri.github.io/emoklore-arknights-side-oripathy/"
        target="_blank"
        rel="noopener noreferrer"
      >
        サイド・オリパシー
      </a> - エモクロアTRPGでアークナイツを遊べる非公式の追加ルール
    </li>
  </ul>
</BaseLayout>
