---
interface Props {
  icon: string;
  name: string;
  message: string;
}

const { icon, name, message } = Astro.props as Props;
---

<div class="flex flex-row max-lg:flex-col items-center lg:gap-lg mb-xl p-lg max-lg:p-md rounded">
  <div class="flex flex-col items-center gap-xs shrink-0">
    <img
      src={icon}
      alt={name}
      class="w-30 h-30 md:w-25 md:h-25 max-[480px]:w-20 max-[480px]:h-20 rounded-full shadow-none! m-0"
    />
  </div>
  <div class="relative bg-surface-elevated p-md rounded shadow-lg max-w-75 max-lg:max-w-none max-lg:w-full text-[0.95rem] text-text flex-1">
    <div class="absolute top-1/2 -left-2 -translate-y-1/2 w-0 h-0 border-t-10 border-t-transparent border-b-10 border-b-transparent border-r-10 border-r-surface-elevated max-lg:hidden"></div>
    <div class="absolute -top-2 left-1/2 -translate-x-1/2 w-0 h-0 border-l-10 border-l-transparent border-r-10 border-r-transparent border-b-10 border-b-surface-elevated hidden max-lg:block"></div>
    {message}
  </div>
</div>
